<%= javascript_include_tag 'jquery-backstretch.min' %>
<script type="text/javascript">
    if (navigator.geolocation) {
        // 現在の位置情報取得を実施
        navigator.geolocation.getCurrentPosition(
        // 位置情報取得成功時
        function (pos) {
                //var location ="<li>"+"緯度：" + pos.coords.latitude + "</li>";
                //location += "<li>"+"経度：" + pos.coords.longitude + "</li>";
                //document.getElementById("location").innerHTML = location;

        $('.link a').each(function(){
          var replace = null;
          var replace = $(this).attr('href').replace(/LAT/g,pos.coords.latitude).replace(/LON/g,pos.coords.longitude);
          $(this).attr('href',replace);
          });
        },
        // 位置情報取得失敗時
        function (pos) {
                var location ="<li>位置情報が取得できませんでした。</li>";
                document.getElementById("location").innerHTML = location;
        });
    } else {
      window.alert("本ブラウザでは位置情報を取得できません");
    }
</script>

<script type="text/javascript">
  /*$.backstretch("images/bg.jpg");*/
  var images = [
    "/images/top_pages/bg0.jpg",
    "/images/top_pages/bg_02.jpg",
    "/images/top_pages/bg_03.jpg",
    "/images/top_pages/bg_04.jpg"
  ];
  $(images).each(function(){
    $('<img/>')[0].src = this; 
  });
  var index = 0;
  $.backstretch(images[index], {speed: 1000});        
  setInterval(function() {
    index = (index >= images.length - 1) ? 0 : index + 1;
    $.backstretch(images[index]);
  }, 3000);
</script>

<div class='container-fluid'>
  <br/>
  <h1>ようこそ岩手へ</h1>
  <br/> <br/>

  <div class="row">

    <div class="col-xs-6 button_wrapper">
      <%= link_to image_tag("/images/top_pages/ic_location_on_white_18dp.png", 
        :alt => "地図アイコン "), {:controller => :map, :action => :index, :lat => "LAT", :lon => "LON"} %>
      <p style="align: center;"><%= link_to "地図から探す", {:controller => :map, :action => :index, :lat => "LAT", :lon => "LON"}, { :class => "button", :role => "button" } %></p><br/>
    </div>
    <div class="col-xs-6 button_wrapper">
      <%= link_to image_tag("/images/top_pages/ic_local_see_white_18dp.png", 
      :alt => "写真アイコン "),{:controller => :gallery, :action => :home,:lat => "LAT",:lon => "LON"}%>
      <p class="link"><%= link_to "写真から探す", {:controller => :gallery, :action => :home,:lat => "LAT",:lon => "LON"}, { :class => "button", :role => "button" } %></p>
    </div>
  </div>
</div>