<ul id="og-grid" class="og-grid">
    <% @pictures.each do |photo|%>
      <li><a href="/map/route?lat=<%= @mylat %>&amp;lng=<%= @mylng %>&amp;dstlat=<%= photo["latitude"] %>&amp;dstlng=<%= photo["longitude"] %>" data-largesrc=<%= photo["url"] %> data-title="<%= photo["title"] %>" data-description=" 撮影日時： <%= photo["date"].split("+")[0] %><br> 撮影場所：<%= photo["address"] %><br>ここまで： <%= photo["distance"] %>[km]<br><%= photo["description"] %>"><img src=<%= photo["url"] %> alt="img"/></a></li>
    <% end %>
</ul>

<div class="pagetop"><a href="#og-grid" class="icon-circle-up"></a></div>

<script src="/assets/modernizr.custom.js"></script>
<script src="/assets/grid.js"></script>
<script>
  $(function() {
    Grid.init();
  });
</script>
