<% photo_section_number = 20 %>
<% photo_list_count = 0 %>
<% photo_page_number = 1 %>
<% photos = pictures%>

<div id = "pagination_picture" class = "demo4">
  <ul id="og-grid" class="og-grid">
    <% photos.each do |photo|%>
        <% if photo_page_number == 1%>
          <li class="pic<%=photo_page_number%> viewing" style = ""><a href="/map/route?lat=<%=current_lat%>8&lng=<%=current_lon%>&dstlat=<%= photo["latitude"] %>&dstlng=<%= photo["longitude"] %>" data-largesrc=<%= photo["url"] %> data-destlat="<%=photo["latitude"] %>" data-destlon="<%= photo["longitude"] %>" data-curlat="<%=current_lat%>" data-curlon="<%=current_lon%>" data-title="<%= photo["title"] %>" data-description="<%= photo["description"] %><br>撮影場所：<%= photo["address"] %><br>撮影日時：<%= photo["date"].split("+")[0] %><br>ここから：<%=photo["distance"] %>[km]"><img src=<%= photo["url"] %> alt="img01"/></a></li>
        <% else%>
          <li class = "pic<%=photo_page_number%>" style = "display:none;"><a href="/map/route?lat=<%=current_lat%>8&lng=<%=current_lon%>&dstlat=<%= photo["latitude"] %>&dstlng=<%= photo["longitude"] %>" data-largesrc=<%= photo["url"] %> data-destlat="<%=photo["latitude"] %>" data-destlon="<%= photo["longitude"] %>" data-title="<%= photo["title"] %>" data-description="<%= photo["description"] %><br>撮影場所：<%= photo["address"] %><br>撮影日時：<%= photo["date"].split("+")[0] %><br>ここから：<%= photo["distance"]%>[km]"><img src=<%= photo["url"] %> alt="img01"/></a></li>
        <% end %>
        <% photo_list_count = photo_list_count + 1 %>
        <% if photo_list_count % photo_section_number == 0 %>
          <% photo_page_number = photo_page_number + 1 %>
        <% end %>
    <% end %>
  </ul>
  <% if photos.size > photo_section_number %>
    <div id = "demo4"></div>
  <% end %>
</div>

<script src="/assets/modernizr.custom.js"></script>
<script src="/assets/grid.js"></script>
<script>
  $(function() {
    Grid.init();
  });
</script>

<script src="/assets/jquery.paginate.js" type="text/javascript"></script>
<link type="text/css" rel="stylesheet" href="/assets/paginate.css">
<script>
$(function() {
  $("#demo4").paginate({
count : <%=photos.size / photo_section_number + 1%>,
  start : 1,
  display : 5,
  border  : false,
  text_color : '#888',
  background_color : '#EEE',
  text_hover_color : 'black',
  background_hover_color : '#CFCFCF',
  onChange: function(page){
  $('.viewing','#pagination_picture').removeClass('viewing').hide();
  $('.pic'+page).addClass('viewing').show();
  }
  });
});
</script>
