<div id = "gallery">
  <div class="container_gallery">
    <div class="main">
      <div id="tabs" class="tabs">
        <nav>
          <ul>
            <li><a href="#section-1" class="icon-near"><span>周辺</span></a></li>
            <li><a href="#section-2" class="icon-tag"><span>タグ</span></a></li>
            <li><a href="#section-3" class="icon-scene"><span>場面</span></a></li>
          </ul>
 </nav>
        <div class="content">
          <section id="section-1">
            <div class="mediabox">
              <div id = "near_list">
                  <% @near_albums_title_list.each {|album_id, album_title| %>
                    <% if @selected_word == album_title %>
                      <li class ="search_button"><%= link_to album_title, { :controller => :gallery, :action => :home, near_album_id:album_id, album_title:album_title,pagination_number_near:@near_page_number,lat:@current_lat,lon:@current_lon}, { :class => "button button--ujarak2 button--border-medium button--round-s button--text-thick button--size-s "} %></li>
                    <% else %>
                      <li class = "search_button"><%= link_to album_title, { :controller => :gallery, :action => :home, near_album_id:album_id, album_title:album_title,pagination_number_near:@near_page_number,lat:@current_lat,lon:@current_lon}, { :class => "button button--ujarak button--border-medium button--round-s button--text-thin button--size-s"} %></li>
                    <% end %>
                  <% } %>
              </div>
            </div>
            </section>

            <section id="section-2">
              <div class="mediabox">
                <div id = "tag_list">
                    <% @tags.each do |tag| %>
                      <% if @selected_word == tag.text %>
                        <li class = "search_button"><%= link_to tag.text, { :controller => :gallery, :action => :home, tag_name:tag.text,pagination_number_tag:@tag_page_number,lat:@current_lat,lon:@current_lon}, { :class => "button button--ujarak2 button--border-medium button--round-s button--text-thick button--size-s "} %></li>
                      <% else %>
                        <li class = "search_button"><%= link_to tag.text, { :controller => :gallery, :action => :home, tag_name:tag.text,pagination_number_tag:@tag_page_number,lat:@current_lat,lon:@current_lon}, { :class => "button button--ujarak button--border-medium button--round-s button--text-thin button--size-s "} %></li>
                      <% end %>
                    <% end %>
                </div>
              </div>
            </section>

            <section id="section-3">
              <div class="mediabox">
                <div id = "scene_list">
                  <% @scenes.each do |scene| %>
                    <% if @selected_word == scene["sceneJP"] %>
                      <li class="search_button"><%= link_to scene["sceneJP"], { :controller => :gallery, :action => :home, scene_name:scene["sceneEN"],pagination_number_scene:@scene_page_number,lat:@current_lat,lon:@current_lon}, { :class => "button button--ujarak2 button--border-medium button--round-s button--text-thick button--size-s "} %></li>
                    <% else %>
                      <li class = "search_button"><%= link_to scene["sceneJP"], { :controller => :gallery, :action => :home, scene_name:scene["sceneEN"],pagination_number_scene:@scene_page_number,lat:@current_lat,lon:@current_lon}, { :class => "button button--ujarak button--border-medium button--round-s button--text-thin button--size-s "} %></li>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </section>
         </div><!-- /content -->
    </div><!-- /tabs -->

    <div class = "pictures_list">
      <%= render partial:"pictures", locals:{pictures:@pictures,current_lat:@current_lat,current_lon:@current_lon} %>
    </div>

    <div class="pagetop"><a href="#gallery" class="icon-circle-up"></a></div>
    </div>
  </div>
</div>

<script src="/assets/cbpFWTabs.js"></script>
<script>
new CBPFWTabs( document.getElementById( 'tabs' ),{start:<%=@selected_tab%>});
</script>

<script language="javascript" type="text/javascript">
  $(document).ready(function() {
    $('a[@href^="#"]').click(function(){
      $($(this).attr("href")).ScrollTo(1000,'easeout');
      return false;
      });
    });
</script>
