<link type="text/css" rel="stylesheet" href="/assets/font-awesome-4.2.0/css/font-awesome.min.css">

<div id = "gallery">
<div class="container_gallery">
<div class="main">

<% near_section_number = 10 %>
<% tag_section_number = 10 %>
<% scene_section_number = 10 %>

<% @near_list_count = 0 %>
<% @near_page_number = 1%>
<div class="hello_world">
   <div data-pws-tab="anynameyouwant1" data-pws-tab-name="周辺検索" data-pws-tab-icon="fa fa-map-marker" >
     <div id = "near_list">
     <div id="paginationdemo2" class="demo">
       <% if @selected_near_page == @near_page_number %>
         <div id ="n1" class="nowview" style ="">
       <% else %>
         <div id ="n1" class="" style ="display:none;">
       <% end %>
         <% @near_albums_title_list.each {|album_id, album_title| %>
          <% if @selected_word == album_title %>
            <%= link_to album_title, { :controller => :gallery, :action => :home, near_album_id:album_id, album_title:album_title,pagination_number_near:@near_page_number,lat:@current_lat,lon:@current_lon}, { :class => "tag btn btn-primary"} %>
          <% else %>
            <%= link_to album_title, { :controller => :gallery, :action => :home, near_album_id:album_id, album_title:album_title,pagination_number_near:@near_page_number,lat:@current_lat,lon:@current_lon}, { :class => "tag btn btn-info"} %>
          <% end %>
         <% @near_list_count = @near_list_count + 1%>
       <% if @near_list_count % near_section_number == 0 %>
         </div>
         <%@near_page_number = @near_page_number + 1 %>
         <% if @selected_scene_page == @near_page_number %>
           <div id="n<%=@near_page_number%>" class="nowview" style="">
         <% else %>
           <div id="n<%=@near_page_number%>" class="" style="display:none;">
         <% end %>
       <% end %>
       <% } %>
     </div>
     <% if @near_albums_title_list.size > near_section_number%>
       <div id="demo2"></div>
     <% end %>
     </div>
     </div>
   </div>

   <% @tag_list_count = 0 %>
   <% @tag_page_number = 1%>
   <div data-pws-tab="anynameyouwant2" data-pws-tab-name="タグ検索" data-pws-tab-icon="fa fa-tag">
     <div id = "tag_list">
       <div id="paginationdemo" class="demo">
       <% if @selected_tag_page == @tag_page_number %>
         <div id ="p1" class="current" style ="">
       <% else %>
         <div id ="p1" class="" style ="display:none;">
       <% end %>
         <% @tags.each do |tag| %>
          <% if @selected_word == tag.text %>
           <%= link_to tag.text, { :controller => :gallery, :action => :home, tag_name:tag.text,pagination_number_tag:@tag_page_number,lat:@current_lat,lon:@current_lon}, { :class => "tag btn btn-primary"} %>
          <% else %>
           <%= link_to tag.text, { :controller => :gallery, :action => :home, tag_name:tag.text,pagination_number_tag:@tag_page_number,lat:@current_lat,lon:@current_lon}, { :class => "tag btn btn-info"} %>
          <% end %>
         <% @tag_list_count = @tag_list_count + 1%>
       <% if @tag_list_count % tag_section_number == 0 %>
         </div>
         <%@tag_page_number = @tag_page_number + 1 %>
         <% if @selected_tag_page == @tag_page_number %>
           <div id="p<%=@tag_page_number%>" class="current" style="">
         <% else %>
           <div id="p<%=@tag_page_number%>" class="" style="display:none;">
         <% end %>
       <% end %>
     <% end %>
   </div>
        <% if @tags.size > tag_section_number %>
          <div id="demo1"></div>
        <% end %>
       </div>
     </div>
   </div>

   <% @scene_list_count = 0 %>
   <% @scene_page_number = 1%>
   <div data-pws-tab="anynameyouwant3" data-pws-tab-name="場面検索" data-pws-tab-icon="fa fa-home">
     <div id = "scene_list">
       <div id="paginationdemo3" class="demo">
         <% if @selected_scene_page == @scene_page_number %>
           <div id ="s1" class="now" style ="">
         <% else %>
           <div id ="s1" class="" style ="display:none;">
         <%end%>
        <% @scenes.each do |scene| %>
          <% if @selected_word == scene["sceneJP"] %>
            <%= link_to scene["sceneJP"], { :controller => :gallery, :action => :home, scene_name:scene["sceneEN"],pagination_number_scene:@scene_page_number,lat:@current_lat,lon:@current_lon}, { :class => "scene btn btn-primary"} %>
          <% else %>
            <%= link_to scene["sceneJP"], { :controller => :gallery, :action => :home, scene_name:scene["sceneEN"],pagination_number_scene:@scene_page_number,lat:@current_lat,lon:@current_lon}, { :class => "scene btn btn-info"} %>
          <% end %>
          <% @scene_list_count = @scene_list_count + 1%>
       <% if @scene_list_count % scene_section_number == 0 %>
         </div>
         <%@scene_page_number = @scene_page_number + 1 %>
         <% if @selected_scene_page == @scene_page_number %>
           <div id="s<%=@scene_page_number%>" class="now" style="">
         <% else %>
           <div id ="s<%=@scene_page_number%>" class="" style ="display:none;">
         <%end%>

       <% end %>
     <% end %>
     </div>
     <% if @scenes.size > scene_section_number%>
       <div id="demo3"></div>
     <% end %>
     </div>
     </div>
   </div>

   <div data-pws-tab="anynameyouwant4" data-pws-tab-name="単語検索" data-pws-tab-icon="fa fa-search" >
     <div id = "keyword_list">
       <%= form_tag "/gallery/home?lat=#{@current_lat}&lon=#{@current_lon}" do %>
         <%= text_field_tag :keyword %>
         <%= submit_tag "サブミット" %>
       <% end %>
     </div>
   </div>
</div>

<%= render partial:"pictures", locals:{pictures:@pictures,current_lat:@current_lat,current_lon:@current_lon} %>

<div class="pagetop"><a href="#gallery">▲&nbsp;ページトップへ</a></div>

<link type="text/css" rel="stylesheet" href="/assets/jquery.pwstabs.css">
<script src="/assets/jquery.pwstabs-1.2.0.js"></script>
<script>
jQuery(document).ready(function($){
   $('.hello_world').pwstabs({
   effect: 'slideright',
   responsive: true,
   containerWidth: '100%',
   theme: 'pws_theme_green',
   defaultTab: <%= @selected_tab %>});
});
</script>

<script src="/assets/jquery.paginate.js" type="text/javascript"></script>
<link type="text/css" rel="stylesheet" href="/assets/paginate.css">
<script>
$(function() {
  $("#demo1").paginate({
count : <%=@tags.size / tag_section_number + 1 %>,
  start : 1,
  display : 5,
  border  : false,
  text_color : '#888',
  background_color : '#EEE',
  text_hover_color : 'black',
  background_hover_color : '#CFCFCF',
  onChange: function(page){
  $('.current','#paginationdemo').removeClass('current').hide();
  //$('.current','#paginationdemo').attr('class','').hide();
  $('#p'+page).addClass('current').show();
  //$('#p'+page).attr('class', 'current').show();
  }
  });
});
</script>

<script>
$(function() {
  $("#demo2").paginate({
count : <%=@near_albums_title_list.size / near_section_number +1 %>,
  start : 1,
  display : 5,
  border  : false,
  text_color : '#888',
  background_color : '#EEE',
  text_hover_color : 'black',
  background_hover_color : '#CFCFCF',
  onChange: function(page){
  $('.nowview','#paginationdemo2').removeClass('nowview').hide();
  $('#n'+page).addClass('nowview').show();
  }
  });
});
</script>

<script>
$(function() {
  $("#demo3").paginate({
count : <%=@scenes.size / scene_section_number + 1 %>,
  start : 1,
  display : 5,
  border  : false,
  text_color : '#888',
  background_color : '#EEE',
  text_hover_color : 'black',
  background_hover_color : '#CFCFCF',
  onChange: function(page){
  $('.now','#paginationdemo3').removeClass('now').hide();
  $('#s'+page).addClass('now').show();
  }
  });
});
</script>

<script language="javascript" type="text/javascript">
  $(document).ready(function() {
  $('a[@href^="#"]').click(function(){
    $($(this).attr("href")).ScrollTo(1000,'easeout');
    return false;
    });
  });
</script>

</div>
</div>
</div>
