    <%= stylesheet_link_tag 'GridGallery/demo' %>
    <%= stylesheet_link_tag 'GridGallery/component' %>
    <%= javascript_include_tag 'GridGallery/modernizr.custom' %>

    <div class="container">
      <header class="clearfix">
        <span>Blueprint <span class="bp-icon bp-icon-about" data-content="The Blueprints are a collection of basic and minimal website concepts, components, plugins and layouts with minimal style for easy adaption and usage, or simply for inspiration."></span></span>
        <h1>Google Grid Gallery</h1>
        <nav>
          <a href="http://tympanus.net/Blueprints/FullWidthTabs/" class="bp-icon bp-icon-prev" data-info="previous Blueprint"><span>Previous Blueprint</span></a>
          <!--a href="" class="bp-icon bp-icon-next" data-info="next Blueprint"><span>Next Blueprint</span></a-->
          <a href="http://tympanus.net/codrops/?p=18699" class="bp-icon bp-icon-drop" data-info="back to the Codrops article"><span>back to the Codrops article</span></a>
          <a href="http://tympanus.net/codrops/category/blueprints/" class="bp-icon bp-icon-archive" data-info="Blueprints archive"><span>Go to the archive</span></a>
        </nav>
      </header>
      <div id="grid-gallery" class="grid-gallery">
        <section class="grid-wrap">
          <ul class="grid">
            <li class="grid-sizer"></li><!-- for Masonry column width -->
            <li>
              <figure>
                <img src="img/thumb/1.png" alt="img01"/>
                <figcaption><h3>Letterpress asymmetrical</h3><p>Chillwave hoodie ea gentrify aute sriracha consequat.</p></figcaption>
              </figure>
            </li>

            <% @albums_with_distance.each do |album| %>
              <% next if album["representative_picture"] == "nothing" %>
                <li>
                  <figure>
                    <%= image_tag album["representative_picture"] %>
                    <figcaption><h3><%= link_to album["title"], controller: "albums", action: "show_pictures", album_id: album["album_id"], lat: @lat, lng: @lng %></h3><p>ここにdescriptionが入る</p><p class="distance">ここから <%= album["distance"]%> [km]</p>
                    </figcaption>
                  </figure>
                </li>
            <% end %>

          </ul>
        </section><!-- // grid-wrap -->
        <section class="slideshow">
          <ul>

            <li>
              <figure>
                <figcaption>
                  <h3>Letterpress asymmetrical</h3>
                  <p>Kale chips lomo biodiesel stumptown Godard Tumblr, mustache sriracha tattooed cray aute slow-carb placeat delectus. Letterpress asymmetrical fanny pack art party est pour-over skateboard anim quis, ullamco craft beer.</p>
                </figcaption>
                <img src="/images/characters/ninohe.jpg" alt="img01"/>
              </figure>
            </li>
            <% @albums_with_distance.each do |album| %>
              <% next if album["representative_picture"] == "nothing" %>
              <li>
                <figure>
                  <figcaption>
                    <h3><%= album["title"] %></h3>
                    <p>詳細を記述すｋる</p>
                  </figcaption>
                  <%= image_tag album["representative_picture"] %>
                </figure>
              </li>
            <% end %>
            
          </ul>
          <nav>
            <span class="icon nav-prev"></span>
            <span class="icon nav-next"></span>
            <span class="icon nav-close"></span>
          </nav>
          <div class="info-keys icon">Navigate with arrow keys</div>
        </section><!-- // slideshow -->
      </div><!-- // grid-gallery -->
    </div>


<%= javascript_include_tag 'GridGallery/imagesloaded.pkgd.min' %>
<%= javascript_include_tag 'GridGallery/masonry.pkgd.min' %>
<%= javascript_include_tag 'GridGallery/classie' %>
<%= javascript_include_tag 'GridGallery/cbpGridGallery' %>
<script>
  new CBPGridGallery( document.getElementById( 'grid-gallery' ) );
</script>