    <%= stylesheet_link_tag 'GridGallery/demo' %>
    <%= stylesheet_link_tag 'GridGallery/component' %>
    <%= javascript_include_tag 'GridGallery/modernizr.custom' %>

    <div class="container">
      <header class="clearfix">
        <h1>Album Gallery</h1>
      </header>
      <div id="grid-gallery" class="grid-gallery">
        <section class="grid-wrap">
          <ul class="grid">
            <li class="grid-sizer"></li><!-- for Masonry column width -->
<!--
            <li>
              <figure>
                <img src="img/thumb/1.png" alt="img01"/>
                <figcaption><h3>Letterpress asymmetrical</h3><p>Chillwave hoodie ea gentrify aute sriracha consequat.</p></figcaption>
              </figure>
            </li>
 -->
            <% @albums_with_distance.each do |album| %>
              <% next if album["representative_picture"] == "nothing" %>
                <li>
                  <figure>
                    <%= image_tag album["representative_picture"] %>
                    <figcaption><h3><%=  album["title"] %></h3><p><%= album["description"] %></p><br><p class="distance">ここから <%= album["distance"]%> [km]</p><br><%= link_to "写真一覧", controller: "albums", action: "show_pictures", album_id: album["album_id"], lat: @lat, lng: @lng %>
                    </figcaption>
                  </figure>
                </li>
            <% end %>

          </ul>
        </section><!-- // grid-wrap -->
        <section class="slideshow">
          <ul>
<!--
            <li>
              <figure>
                <figcaption>
                  <h3>Letterpress asymmetrical</h3>
                  <p>Kale chips lomo biodiesel stumptown Godard Tumblr, mustache sriracha tattooed cray aute slow-carb placeat delectus. Letterpress asymmetrical fanny pack art party est pour-over skateboard anim quis, ullamco craft beer.</p>
                </figcaption>
                <img src="/images/characters/ninohe.jpg" alt="img01"/>
              </figure>
            </li>
  -->
            <% @albums_with_distance.each do |album| %>
              <% next if album["representative_picture"] == "nothing" %>
              <li>
                <figure>
                  <figcaption>
                    <h3><%= link_to album["title"], controller: "albums", action: "show_pictures", album_id: album["album_id"], lat: @lat, lng: @lng %></h3>
                    <p class = "detail_box"><%= album["detail"] %></p>
                  </figcaption>
                  <%= image_tag album["representative_picture"] %>
                </figure>
              </li>
            <% end %>

          </ul>
          <nav>
            <span class="icon nav-prev"></span>
            <span class="icon nav-next"></span>
            <span class="icon nav-close"></span>
          </nav>
          <div class="info-keys icon">Navigate with arrow keys</div>
        </section><!-- // slideshow -->
      </div><!-- // grid-gallery -->
    </div>

    <div class="pagetop"><a href="#grid-gallery" class="icon-circle-up"></a></div>

<%= javascript_include_tag 'GridGallery/imagesloaded.pkgd.min' %>
<%= javascript_include_tag 'GridGallery/masonry.pkgd.min' %>
<%= javascript_include_tag 'GridGallery/classie' %>
<%= javascript_include_tag 'GridGallery/cbpGridGallery' %>
<script>
  new CBPGridGallery( document.getElementById( 'grid-gallery' ) );
</script>
